{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  {% block title %}DiscussHub{%endblock%}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to DiscussHub!</h1>
    <p class="lead">
      Join the conversation, share your ideas, and connect with others.
    </p>
    <hr class="my-4" />
    <p>Explore a variety of topics and engage in meaningful discussions.</p>
    <a
      class="btn btn-primary btn-lg"
      href="{% url 'view_topics' %}"
      role="button"
      >View Topics</a
    >
  </div>
</div>
{% endblock %}
